@import "reset.css";

@font-face {
	font-family: 'AKsans250';
	src: url('../fonts/AKsans-250.eot');
	src: local('☺'), url('../fonts/AKsans-250.woff') format('woff'), url('../fonts/AKsans-250.ttf') format('truetype'), url('../fonts/AKsans-250.svg') format('svg');
	
}

@font-face {
	font-family: 'Conv_Corporate';
	src: url('../fonts/Corporate S SC Regular.eot');
	src: local('☺'), url('../fonts/Corporate S SC Regular.woff') format('woff'), url('../fonts/Corporate S SC Regular.ttf') format('truetype'), url('../fonts/Corporate S SC Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Corporate_Demi';
	src: url('../fonts/CorporateS Demi Regular.eot');
	src: local('☺'), url('../fonts/CorporateS Demi Regular.woff') format('woff'), url('../fonts/CorporateS Demi Regular.ttf') format('truetype'), url('../fonts/CorporateS Demi Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


.site__header{
	max-width: 1366px;
	max-height: 535px;
	background:url('../img/site-background.jpg')0 0/cover no-repeat fixed;
	margin: 0 auto;
}

.site__header-top{
	display: flex;
	align-items: center;
}

.site__header-logo{
	padding-top: 25px;
	padding-left: 30px;
	padding-bottom: 25px;

}

.site__header-date{
	color: #d61a77;
}

.site__navigation ul{
	display: flex;
	align-items: center;
}

.site__navigation li{
	display: inline;
	font-family: arial;
	color: #2f313d;
	font-size: 12px;
	padding-left: 40px;
}

.site__navigation .current,
.site__navigation a:hover {
	color: #d61a77;
}

.site__header-date{
	font-family: arial;
	font-size: 16px;
	padding-left: 30px ;
}

.site__top{
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.site__top_photo{
	padding-top: 55px;

}
.site__top_photo img{
	max-width: 140px;
	max-height: 140px;
}

.site__top_greeting {
	padding-top: 70px;
	letter-spacing: 0.16em;
	font-weight: 400;
	color: #2f313d;
	font-family:AKsans250;
	font-size: 30px;
	text-align: center;
	padding-bottom: 50px;
}

.site__top_bio {
	line-height: 1.5;
	font-family: Arial;
	margin: 0 auto;
	max-width: 680px;
	font-size: 16px;
	text-align: center;
	color: #646468;
	padding-bottom: 70px;
}

.site__centr{
	background-color: white;
	margin: 0 auto;
	max-width: 1366px
}

.site__latest{
	font-family: Conv_Corporate;
	letter-spacing: 0.2em;
	font-size: 14px;
	padding-left: 25%;
	text-transform: uppercase;
}

.site__latest h3{
	padding-top: 50px;
}

.site__line{
	background-color: #d61a77;
	margin-left: 25%;
	width: 74px;
	height: 1px;
	margin-bottom: 38px;
}

.article {
	max-width: 910px;
	margin-top: 5px;
	margin-bottom: 60px;
}

.article__body{
	padding-left: 323px;
}

.article_img img{
	margin-top: 25px;
	margin-left: 16.5%;
	max-width: 150px;
	float: left;
}

.article__time {
	text-transform: uppercase;
	font-family: Arial;
	color: #a2a2a8;
	font-size: 12px;
	margin-bottom: 22px;
}

.article__title {
	font-weight: bold;
	font-family: Corporate_Demi;
	font-size: 20px;
	margin-bottom: 31px;
}

.artile__text {
	text-align: left;
	font-family: arial;
	font-size: 14px;
	color: #666666;
	line-height: 180%;
	margin-bottom: 45px;
	width:538px; 
}

.artile__text a{
	color: #d61a77;
	font-size: 16px;
}

.artile__text a:hover{
	color: black;
}

.article__stats{
	text-align: left;
	font-family: arial;
	font-size: 14px;
	color: #666666;
}

.article__info {
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-family: Corporate_Demi;
	letter-spacing: 0.2em;
	font-size: 14px;
	font-weight: 400;
	color: black;
	margin: 0 auto;
	display:flex;
	align-items: center;
	justify-content: center;
	max-width: 400px;
}

.article__info input, textarea, select{
	border: black solid 1px;
	background-color: #e5e7e9;

}

.article__info  textarea{
	margin-top: 10px;
	resize: none;
}

.comments__send{
	text-transform: uppercase;
	height: 25px;
	width: 80px;
	background-color: white;
	font-family: Corporate_Demi;
	letter-spacing: 0.2em;
	font-size: 14px;
	font-weight: 600;
	color: black;
	border: black solid 1px;
}

.comments__send:hover{
	background-color: #a2a2a8;
}

.comments__error{
	color:red;
}

.site__separator{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #e5e7e9;
	margin-right: auto;
	margin-left: auto;
	width: 720px;
	height: 1px;
}

.article__comments{
	padding-left: 25%;
	padding-right: 25%;
	line-height: 180%;
}

.article__comment{
	padding-top: 25px;
	font-family: Corporate_Demi;
	text-align: left;
	font-family: arial;
	font-size: 14px;
	color: black;
	line-height: 180%;
}

.site__page{
	padding-top: 75px;
	font-family: arial;
	text-align: center;
	font-size: 10px;
	color: #b6b6bb;
}

.site__page_arrow{
	margin-left: 75%;
}

.site__footer{
	font-size: 10px;
	margin-top: 100px;
	font-family: arial;
	text-align: center;
	letter-spacing: 0.1em;
	margin-bottom: 40px;
}

.site__footer a{
	color: #d61a77;
}

.site__footer_text{
	color: #5d635d;
	margin-bottom: 35px;
}



@media (max-width: 768px) { 
	.article div{ padding:0; display: flex;flex-direction: column; justify-content: center; align-items: center;}
	.article_img img{ padding-bottom: 15px; margin: 0; max-width: 300px; width: 100%; height:auto;}
	.site__header-top{justify-content: center;}
	.artile__text{max-width: 500px; width: 100%; height:auto;}
}
